.home-about {
    padding: 20px 0 40px 0;
}

.home-about>.my-container {
    display: flex;
    flex-direction: column;
}

.about-image {
    width: 100%;
    height: 360px;
}

/* .about-text {
    width: 45%;
} */

.about-text-inner {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: snow;
}

.about-img {
    width: 100%;
    height: 100%;
    background-image: url('../../../../public/img/food2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .about-text-inner {
        text-align: right;
        display: flex;
        flex-direction: column;
        transform: translateY(40px);
    }
}

@media (min-width: 600px){
    .home-about>.container {
        flex-direction: row;
    }    
    .about-image {
        width: 55%;
        height: auto;
    }
    
    .about-text {
        width: 45%;
    }
}