.footer {
    padding: 20px;
}

.footer-image {
    height: 70px;
    width: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.footer>.container {
    display: flex;
    flex-direction: column;
}

.footer-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-content a {
    display: block;
    text-decoration: none;
    color: gray;
}

.content-con {
    min-width: 200px;
    flex: 1 1 auto;
}


@media (min-width: 600px) {
    .footer>.container {
        flex-direction: row;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-evenly;
    }
}