.home-products {
   padding: 20px;
}

.container-top {
    padding: 20px;
}

.home-products > .container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.home-products > .container::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: rgb(189, 185, 185);
}
.home-products > .container::-webkit-scrollbar-thumb{
    background: rgb(77, 74, 74);
    border-radius: 10px;
}