.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 100%;
  position: relative;
  height: max-content;
}

.card-header {
  height: 8rem;
  padding: .65rem .85rem;
  border: none;
  position: relative;
  top: 0;
}

.card-body {
  width: 100%;
  padding: .65rem .85rem;
  border: none;
}

.card-footer {
  width: 100%;
  padding: .65rem .85rem;
  border: none;
}

.card-image {
  width: 100%;
  height: 100%;
  border: none;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 70% !important;
}

.container-fluid {
  margin: 0 auto;
  width: 85%;
}

.btn {
  border: none;
  background-color: rgb(255, 196, 0);
  color: black;
  border-radius: 5px;
  padding: .55rem 1.4rem;
}

.btn:hover {
  background-color: rgb(255, 247, 0);
  cursor: pointer;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: .65rem;
  max-width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
  margin: 0 .5rem;
}

.flex-2 {
  flex: 2;
  margin: 0 .5rem;
}

.flex-3 {
  flex: 3;
  margin: 0 .5rem;
}

.flex-4 {
  flex: 4;
  margin: 0 .5rem;
}

.flex-5 {
  flex: 5;
  margin: 0 .5rem;
}

.flex-6 {
  flex: 6;
  margin: 0 .5rem;
}

.flex-7 {
  flex: 7;
  margin: 0 .5rem;
}

.flex-8 {
  flex: 8;
  margin: 0 .5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}